<p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  
  <p>
<%= link_to 'Edit', edit_article_comment_path(comment.article, comment) %>
<%= link_to 'Destroy', [comment.article, comment],
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
 </p>