<h1>About Us!</h1>

<p>Levar Fredericks</p>
<p>Sophomore computer science major, at UNCC, pursuing a data science career. 
Due to my love of sports and exercise, my goal is to be in a position to make 
analytical decisions that will benefit athletes.</p>

<br>

<p>Logan Carpenter</p>
<p>My name is Logan, and in the future, I want to be able to do large scale Data
Science, same as my concentration, and build online creations for business 
owners, host servers, and do a bit of cyber security.</p>

<br>

<p>Isaac Damiani</p>
<p>Isaac Damiani</p>

<br>

<p>Brady Ennis</p>
<p>I'm Brady Ennis. I'm a CS major concentrating in web and application 
development who works for Novant as a student developer on the side.</p>

<br>

<p>Jeremy Dannemiller</p>
<p>Jeremy Dannemiller</p>

<%= link_to 'Back', root_path %>