<h1>About Us!</h1>

<p>Levar Fredericks</p>
<p>Sophomore computer science major, at UNCC, pursuing a data science career. 
Due to my love of sports and exercise, my goal is to be in a position to make 
analytical decisions that will benefit all athletes. However, most of all, I 
just want a hand in furthering future advancements through my own methodical way
of thinking.</p>

<br>

<p>Logan Carpenter</p>
<p>Logan Carpenter</p>

<br>

<p>Isaac Damiani</p>
<p>Isaac Damiani</p>

<br>

<p>Brady Ennis</p>
<p>Brady Ennis</p>

<br>

<p>Jeremy Dannemiller</p>
<p>Jeremy Dannemiller</p>

<%= link_to 'Back', root_path %>