<h1>About Us!</h1>

<p>Levar Fredericks</p>
<p>Sophomore computer science major, at UNCC, pursuing a data science career. 
Due to my love of sports and exercise, my goal is to be in a position to make 
analytical decisions that will benefit athletes.</p>

<br>

<p>Logan Carpenter</p>
<p>My name is Logan, and in the future, I want to be able to do large scale Data
Science, same as my concentration, and build online creations for business 
owners, host servers, and do a bit of cyber security.</p>

<br>

<p>Isaac Damiani</p>
<p>I am an undergraduate student at the University of North Carolina at 
Charlotte studying Computer Science with a concentration on Software 
Engineering. I will be graduating this Spring semester of 2020 and starting the 
next chapter in my life. I have been honored to have worked on this blog project
with my fellow group members throughout the semester. Although we came across 
many obstacles and unfortunate situations through the semester, we were able to 
overcome everything that came at us.</p>

<br>

<p>Brady Ennis</p>
<p>I'm Brady Ennis. I'm a CS major concentrating in web and application 
development who works for Novant as a student developer on the side.</p>

<br>

<p>Jeremy Dannemiller</p>
<p>My name is Jeremy dannemiller I am 38 studying computer science in hope to be
able to understand multiple aspects of the computer world so I can practice 
fixing problems for a person or company.</p>

<%= link_to 'Back', root_path %>